@import "tailwindcss";

@theme {
  --color-brand-900: #0B4D43;
  --color-brand-800: #0f6154;
  --color-brand-700: #147565;
  --color-brand-600: #198a76;
  --color-brand-500: #1d9f87;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}